.container {
    text-align: center;
    margin-top: 50px;
}

#greetingCanvas {
    margin-top: 20px;
    border: 2px solid black;
    /* display: none; */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.canvas-container {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#downloadBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#downloadBtn:hover {
    background-color: #0056b3;
}